<div class="col-md-6">
  <div class="text-center">
    <h1>Delete account</h1>
  </div>
<ul class="list-group">
  <%= form_tag 'delete' method: delete %>
  <li class="list-group-item"></li>
</ul>

</div>
